@page
@model RecipesProject.Controllers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="recipe-detail">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h1>@Html.DisplayFor(model => model.Recipe.RecipeName)</h1>
            </div>
            <br />
            <div class="col-lg-8">
                <div class="justify-content-center text-center border border-dark rounded">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 border border-light">
                            <p>Serves:</p>
                            <p>@Html.DisplayFor(model => model.Recipe.Yield)</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 border border-light">
                            <p>Prep Time:</p>
                            <p>@Html.DisplayFor(model => model.Recipe.PreparationTime)</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 border border-light">
                            <p>Cooking:</p>
                            <p>@Html.DisplayFor(model => model.Recipe.CookingTime)</p>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>@Html.DisplayNameFor(model => model.Recipe.Category): <span>@Html.DisplayFor(model => model.Recipe.Category)</span></h3>
                </div>
                <div>
                    <h3 class="description">@Html.DisplayNameFor(model => model.Recipe.Description):</h3>
                    <span>@Html.DisplayFor(model => model.Recipe.Description)</span>
                </div>
                <div>
                    <h3 class="description">@Html.DisplayNameFor(model => model.Recipe.Directions):</h3>
                    <span>@Html.DisplayFor(model => model.Recipe.Directions)</span>
                </div>
                <br />
                <div class="description">
                    <div>
                        <div>
                            <h3>Ingredients</h3>
                            <ul>
                                <li>Ingredient #1</li>
                                <li>Ingredient #2</li>
                                <li>Ingredient #3</li>
                                <li>Ingredient #4</li>
                                <li>Ingredient #5</li>
                                <li>Ingredient #6</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3>Reviews</h3><br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @*@Model.RecipeReviews.UserName*@
                        @Html.DisplayNameFor(model => model.Reviews[0].UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reviews[0].Comment)
                    </th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var p in Model.Reviews.Where(p => p.RecipeId == ))*@
                @foreach (var p in Model.Reviews)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => p.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => p.Comment)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</div>
<div class="row-insert justify-content-center">
    <a class="btn btn-dark" asp-page="./Edit" asp-route-id="@Model.Recipe.RecipeID">Edit</a>
    <a class="btn btn-dark" asp-page="./Index">Back to List</a>
</div>